{% extends 'base.html.twig' %}

{% block title %}Wild Séries || Nouvelle saison{% endblock %}

{% block body %}
    <section class="card text-dark m-3">
        <div class="card-header bg-success">
            <h1>Créer une nouvelle saison : </h1>
        </div>
        <div class="p-3">
            {{ include('season/_form.html.twig') }}
        </div>
    </section>
    <a class="btn btn-danger" href=javascript:history.go(-1)>Retour à la série</a>
{% endblock %}


