{% extends 'base.html.twig' %}

 {% block body %}
     <h1> Bienvenue !</h1>
     <h1> QUETE 9 : </h1>
     <br>
     <a href="{{ path('show_category', { 'categoryName': "horreur" }) }}"> L'URL est fonctionnelle et renvoie bien les 3 dernières séries liées à la catégorie "horreur".</a>
     </p>
     <a href="{{ path('show_program', { 'programName': "walking-dead" }) }}">L'URL renvoi sur la page de la série "Walking dead"</a>
     </p>
     <a href="{{ path('show_program', { 'programName': "the-haunting-of-hill-house" }) }}">L'URL renvoi sur la page de la série "The Haunting"</a>
 {% endblock %}